/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */









font-family: 'Ubuntu', sans-serif;
font-family: 'Lato':300,400,700,300italic', sans-serif;






/******* HEADER SUR TOUTE LES PAGES ********/



#wrapper {
	width: 100%;
	text-align: center;
}

.container {
	margin: auto;
	max-width: 1200px;
}


a { text-decoration:none; }


input {
	outline: none;
}
.clearboth{ clear: both;}

.editer {
	font-family: 'Lato';
	font-weight: 400;
	color: #ff5639;
}

.editer:hover {
	color: #a43c39;
}

#questionBloc .ajouter {
	font-family: 'Lato';
	font-weight: 400;
	color: #ff5639;
	padding-bottom: 5px;
}

#questionBloc .ajouter:hover {
	color: #a43c39;
}

#questionBloc .ajouter,
#detailReponses .ajouter {
	font-family: 'Lato';
	font-weight: 400;
	color: #ff5639;
}

#questionBloc .ajouter:hover, 
#detailReponses .ajouter:hover {
	color: #a43c39;
}


/***** FOOTER sur toute les pages******/

#footer {
	background: #271026;
	height: 40px;
	padding-top: 20px;
	position: relative;
	width: 100%;
	margin-top: 15px;
	text-align: center;
}

#footer .footerTitle {
	color: #fff;
	font-family: 'Lato'
	font-size: 13px;
	font-weight: 400;
}


/* header */
header {
	position:relative;
}

#header #connection {
	background: #ff5639;
	height: 60px;
}

#logo {
	float: left;
	position:absolute;
	background-image:url("../img/logo.png");
	height:92px;
	width: 141px;
	top: 29px;
}


#mainHeader {
	background: #271026;
	height:280px;
}

#sign {
	float:right;
	margin-top:15px;	
}





/* bouton de recherche*/

#search {
	display: inline;
	padding-right: 30px;
}

#search input[type=submit] {
	display: inline;
	background: url('../img/loupe.png') no-repeat;
	width: 21px;
	height: 21px;
	border: none;
}

#search input[type=text] {
	border:none;
	width: 80px;
	background-color:transparent;
	border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}






/* s'inscrire et se connecter */

#sign a, #sign p{
	display: inline;
	text-decoration: none;
	font-family: 'ubuntu';
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 22px;
	color: #fff;
}

.pictohead{
	display: inline;
	width: 15px;
	height: 17px;
	margin-left: -21px;
	margin-top: 5px;
	background-image:url('../img/minihead.png');
	position: absolute;
	z-index: 99;
}

/* Menu*/

nav {
	float: right;
	display: inline-block;
}

nav a{
	text-decoration: none;
	font-family: 'ubuntu';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.15em ;
	line-height: 89px;
	margin: 0 20px 0 20px;
	text-transform: uppercase;
	color: #fff;

}

nav a:hover{
	text-decoration: none;
	font-family: 'ubuntu';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.15em ;
	line-height: 89px;
	margin: 0 20px 0 20px;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 3px solid #42cc70;

}





/*bouton poser une question */

#askQuestion {
	float: right;
	display: block;
	margin-top: 20px;
	width: 250px;
	height: 50px;
	background-color: #42cc70;
	border-radius: 3px;
	text-align: center;
	position: relative;
}

#askQuestion a:before {
	content: "";
	width: 25px;
	height:25px;
	background-image:url("../img/losange.png");
	position: absolute;
	right: 208px;
	top: 12px;
	z-index: 100;
}

#askQuestion a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 0.04em ;
	margin-left: 33px;
	color : #fff;
	text-shadow: 0px 0px 1px rgba(0 0 0 0.5);
	text-transform: uppercase;
	line-height: 50px;
}

#askQuestion:hover{
	display: block;
	width: 250px;
	height: 50px;
	background-color: #52FF99;
	border-radius: 3px;
	text-align: center;
	transition-duration: 0.2s;
}


#askQuestion:active{
	display: block;
	width: 250px;
	height: 50px;
	background-color: #42cc70;
	border-radius: 3px;
	text-align: center;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);

}

/*bouton help*/
#help {
	display: block;
	position: absolute;
	background: url("../img/minilogo.png") no-repeat;
	width: 51px;
	height: 39px;
	margin-top: 259px;
	left: 50%;
	
}

/******* QUESTIONS HOME ********/


.container h1{
	font-family: 'ubuntu';
	font-size: 16px;
	color: #ff5639;
	text-transform: uppercase;
	font-weight: 700;

}

#questionBloc {
	padding: 3px 20px;
	background-color: #eeeff0;
	height: 100%;
	margin: 20px 0;
	
}
/***** Question Détails ********/

#editerQuestionDetails {
	padding-top: 5px;
	padding-bottom: 15px;

}





/***** Content ******/

#questionBloc .content-question {
	width: 80%;
	margin-top: 10px;
}

#userDetail .user {
	color: #42cc70;
	font-family: 'lato';
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	text-transform: lowercase;
}


#questionBloc .utils {
	float: left;
	padding: 20px 10px;
}

#questionBloc .utils a{
	display: block;
	width: 52px;
	height: 52px;
	text-align: center;
	background-color:#42cc70;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 48px;
	color: #fff;

	
}







/***** utils sans réponses ******/

#questionBloc .utilsNone {
	float: left;
	padding: 20px 10px;
}

#questionBloc .utilsNone a {
	display: block;
	width: 52px;
	height: 52px;
	text-align: center;
	/* background-color:#fff; */
	border: 3px solid #42cc70;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 400;
	line-height: 48px;
	color: #42cc70;
	
}



/*  texte réponses  */
#questionBloc .utils a::after,
#questionBloc .utilsNone a::after
{
	content: "reponses";
	position: absolute;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.02em;
	text-align: center;
	margin-left: -46px;
	margin-top: 45px;
	color:#42cc70;
}




#questionBloc .questionDetails{
	float: left;
	margin: 0 0 10px 20px;

}

#questionBloc .title-question{
	padding-top: 10px;
}

#questionBloc .title-question a{
	color:#171210;
	text-decoration: none;
	font-family: 'lato';
	font-size: 20px;
	font-weight: 700;

}

#questionBloc .infosUser{
	margin-top: 10px;

}

#questionBloc .infosUser a{
	color:#42cc70;
	font-family: 'lato';
	font-size: 17px;
	font-weight: 400;	
	text-decoration: none;
	text-transform: lowercase;
}

#questionBloc .infosUser a:hover{
	color:#35a45a;
	font-family: 'lato';
	font-size: 17px;
	font-weight: 400;
	text-transform: lowercase;
}





/***** TAGS ******/

#questionBloc .tags_questions {
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 8px;
}

#questionBloc .tags_questions a{
	font-family: 'Lato';
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	border:1px solid #ff5639 ;
	border-radius: 3px;
	color:#ff5639;
	padding:5px 5px;
	margin-top: 15px;
}



/****** Commentaires de la question *******/

#comment{
	width: 98%;
	border-top: 1px;
	border-style: dotted;
	margin: 9px 20px;
}


#comment .user .ajouter {
	font-family: 'Lato';
	font-size: 400;
	color: #ff5639;
}

#comment .user .ajouter:hover {
	font-family: 'Lato';
	font-size: 400;
	color: #a43c39;
}




/********* Réponses ************/


#detailReponses{
	padding: 3px 20px;
	background-color: #eeeff0;
	height: 100%;
	margin: 20px 0;

}

#detailReponses .profile_user .user {
	color: #42cc70;
	font-family: 'lato';
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	text-transform: lowercase;
}

/******* vote sur la reponse ********/
#detailReponses .vote .plus {
	float: left;
	padding: 20px 10px;
}

#detailReponses .vote .plus a{
	display: block;
	width: 52px;
	height: 52px;
	text-align: center;
	background-color:#42cc70;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 48px;
	color: #fff;

	
}





/********** formumlaires ************/




/*formulaire*/

.formulaire {
	margin-top: 10px;
}

.form-group input[type=text],[type=email],[type=password]{
	margin-top: 10px;
	padding: 0 10px 0 32px;
	border-width: 3px;
	border-color: rgb( 255, 86, 57 );
	border-style: solid;
	border-radius: 2px;
	width: 275px;
	height: 48px;
}

p {
/*	font-family: 'Lato';
	font-weight: 700;
	color: #000;
	font-size: 16px;
	display: inline;
*/
display: inline;
	text-decoration: none;
	font-family: 'ubuntu';
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 22px;

}
.form-group input[type=text]::-webkit-input-placeholder,
	[type=email]::-webkit-input-placeholder,
	[type=password]::-webkit-input-placeholder {
	margin-left: 10px;
	font-family: 'Lato';
	font-weight:700;
	color: #ff5639;
	font-size: 15px;
	letter-spacing: 0.02;
	line-height: 15px;
}


.form-group input[type=submit] {
	width: 150px;
	height: 48px;
	border: none;
	margin-top: 20px;
	background-color: #42cc70;
	border-radius: 3px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 0.04em ;
	color : #fff;
	text-shadow: 0px 0px 1px rgba(0 0 0 0.5);
	text-transform: uppercase;
	line-height: 50px;

}









.user
{
	float: left;
	padding-right: 20px;
	margin-top: 60px;
}

.user #profile
{
	float: left;
}

.user div
{
	width: 240px;
	padding-left: 70px;
}

.user div p,
.user div a,
.user span
{
	display: block;
	margin-top: 5px; 
}

.user span p
{
	display: inline;
}


/* règle taille user detail */
#userDetails
{
	margin-left: 200px;
}

#userDetails .user div p,
#userDetails .user div a,
#userDetails .user span
{
	margin-top: 20px;
}

#userDetails .user div
{
	width: 480px;
	padding-left: 140px;
}



