/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */



font-family: 'Ubuntu', sans-serif;
font-family: 'Lato':300,400,700,300italic', sans-serif;




/******* HEADER SUR TOUTE LES PAGES ********/


#wrapper {
	width: 100%;
	text-align: center;

}

.container {
	margin: auto;
	max-width: 1200px;
	
}


/* header */
header {
	position:relative;
}

#header #connection {
	background: #ff5639;
	height: 60px;
}

#logo {
	float: left;
	position:absolute;
	background-image:url("../img/logo.png");
	height:92px;
	width: 141px;
	top: 29px;
}


#mainHeader {
	background: #271026;
	height:280px;
}

#sign {
	float:right;
	margin-top:15px;	
}





/* bouton de recherche*/

#search {
	display: inline;
	padding-right: 30px;
}

#search input[type=submit] {
	display: inline;
	background: url('../img/loupe.png') no-repeat;
	width: 21px;
	height: 21px;
	border: none;
}

#search input[type=text] {
	border:none;
	width: 80px;
	background-color:transparent;
	border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}






/* s'inscrire et se connecter */

#sign  a, p{
	display: inline;
	text-decoration: none;
	font-family: 'ubuntu';
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 22px;
	color: white;
}

.pictohead{
	display: inline;
	width: 15px;
	height: 17px;
	margin-left: -21px;
	margin-top: 5px;
	background-image:url('../img/minihead.png');
	position: absolute;
	z-index: 99;
}

/* Menu*/

nav {
	float: right;
	display: inline-block;
}

nav a{
	text-decoration: none;
	font-family: 'ubuntu';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.15em ;
	line-height: 89px;
	margin: 0 20px 0 20px;
	text-transform: uppercase;
	color: #fff;

}

nav a:hover{
	text-decoration: none;
	font-family: 'ubuntu';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.15em ;
	line-height: 89px;
	margin: 0 20px 0 20px;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 3px solid #42cc70;

}





/*bouton poser une question */

#askQuestion {
	float: right;
	display: block;
	margin-top: 20px;
	width: 250px;
	height: 50px;
	background-color: #42cc70;
	border-radius: 3px;
	text-align: center;
	position: relative;
}

#askQuestion a:before {
	content: "";
	width: 25px;
	height:25px;
	background-image:url("../img/losange.png");
	position: absolute;
	right: 208px;
	top: 12px;
	z-index: 100;
}

#askQuestion a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 0.04em ;
	margin-left: 33px;
	color : #fff;
	text-shadow: 0px 0px 1px rgba(0 0 0 0.5);
	text-transform: uppercase;
	line-height: 50px;
}

#askQuestion:hover{
	display: block;
	width: 250px;
	height: 50px;
	background-color: #52FF99;
	border-radius: 3px;
	text-align: center;
	transition-duration: 0.2s;
}


#askQuestion:active{
	display: block;
	width: 250px;
	height: 50px;
	background-color: #42cc70;
	border-radius: 3px;
	text-align: center;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);

}

/*bouton help*/
#help {
	display: block;
	position: absolute;
	background: url("../img/minilogo.png") no-repeat;
	width: 51px;
	height: 39px;
	margin-top: 259px;
	margin-left: 580px;
	
}

/******* QUESTIONS HOME ********/
.container h1{
	font-family: 'ubuntu';
	font-size: 16px;
	color: #ff5639;
	text-transform: uppercase;

}

.questionDetails{
	float: left;
	padding-left: 20px;
	padding-bottom: 5px;

}


.utils {
	float: left;
	padding-left: 20px;
}

.utils a{
	content:"";
	display: block;
	width: 52px;
	height: 52px;
	text-align: center;
	background-color:#42cc70;
	border: 3px solid #42cc70;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	line-height: 48px;
	color: #fff;

	
}

/***** utils sans réponses ******/
.utilsNone {
	float: left;
	padding-left: 20px;
}

.utilsNone a{
	content:"";
	display: block;
	width: 52px;
	height: 52px;
	text-align: center;
	background-color:#fff;
	border: 3px solid #42cc70;
	text-decoration: none;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 400;
	line-height: 48px;
	color: #42cc70;

	
}

.question {
	background-color: #eeeff0;
	overflow: hidden;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.title-question{
	padding-bottom: 6px;
}

.title-question a{
	color:#171210;
	text-decoration: none;
	font-family: 'lato';
	font-size: 20px;
	font-weight: 700;

}

.question p{
	float:left;
	color:#42cc70;
	font-family: 'lato';
	font-size: 15px;
	font-weight: 300;
	text-transform: lowercase;
}



.infosUser a{
	
	float:left;
	
	color:#42cc70;
	font-family: 'lato';
	font-size: 15px;
	font-weight: 400;
	
	text-decoration: none;
	text-transform: lowercase;

}

.infosUser a:hover{
	
	float:left;
	
	color:#35a45a;
	font-family: 'lato';
	font-size: 15px;
	font-weight: 400;
	
	text-transform: lowercase;

}














